<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>k.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F63E17A1DC6E34700331CA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F63E18E1DC6E34800331CA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F63E1991DC6E34800331CA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
